$gutter-vertical: 8rem;//margin-bottom
$gutter-horizontal: 1rem;//間格

$color_text:rgb(102, 102, 102);
$color_yellow:rgb(224, 183, 0);
$dark_blue:rgb(29, 41, 148);
$light_blue: rgb(51, 180, 255);
$dark_blue_title:rgb(50, 63, 255);
.section_about{
  // border:solid  red;
  color: $light_blue;
  padding:25rem 0;
  margin-top:-35vh;
  height: 150vh;
}
.section_heading{
  margin-bottom: 10vh;
  color: $dark_blue_title;
  font-size:8vh;
  text-transform: uppercase;
  font-weight:700;
  text-align:center;
}
.row{
  //border: solid 2px black;
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
  vertical-align: top;
  .col-1-of-4{
    border-radius: 20px;
    height:50vh;
    width: calc(((100% - (#{$gutter-horizontal})*2)/5)*2);
   
    float:left;
    background-image:url('./my.png');
    background-size: cover;
    background-position: center;
    margin-right:$gutter-horizontal;
  }
  .col-3-of-4{
    height:50vh;
    width: calc(((100% - (#{$gutter-horizontal})*2)/5)*3);
    color:$color_text;
    float:left;
    font-size:4rem;
    text-indent:1em;
    margin-right:$gutter-horizontal;
  }
}