$color_yellow:rgb(224, 183, 0);
$dark_blue:rgb(29, 41, 148);
$light_blue: rgb(51, 180, 255);
$color_white: #fff;
$color_black:black;

.header{
  height:95vh;
  background-image:linear-gradient(
    to right bottom,
    rgba($light_blue, 0.8), 
    rgba($dark_blue, 0.8)), 
    url('./hero.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path:polygon(0 0,100% 0,100% 75vh,0 100%);
}

/* .logo-box{
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo{
  height :35px;
} */
.text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-45%,-50%);

}
/*
uppercase大寫
backface-visibility: hidden; 動畫時會shaking
*/
.heading-primary{
  color: $color_yellow;
  text-transform: uppercase;
  margin-bottom: 15px;
  backface-visibility: hidden;

  &-main{
    display: block;
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: 25px;
    
    animation-name: moveInLeft;
    animation-duration: 1s
  }
  &-sub{
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing:13px;
    animation-name: moveInLeft;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    /*animation: moveInLeft 3.5s ease-out
    /*
    animation-delay: 3s
    animation-iteration-counter: 3
    */
  }
}
@keyframes moveInLeft{
  0%{
    opacity:0;
    transform:translateX(-150px);
  }
  100%{
    opacity:1;
    transform:translate(0);
  }
}

.center{
  text-align: center;
}

.btn{
  
  &:link,
  &:visited {
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: none;
    padding:15px 30px ;
    display: inline-block;
    border-radius: 100px;
    transition:all 0.2s;
    position: relative;
    
  }
  &:hover{
    transform:translateY(-3px);
    box-shadow: 0 10px 20px rgba($color_black,0.3)
  }
  &:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color_black,0.3)
  }

  &-yellow{
    letter-spacing:1px;
    background-color: $color_yellow;
    color:$color_white;
  }
  /*  animation-fill-mode: backwards; 移除動畫前的影像
  */
  &-animated{
    animation: moveInbtn 1.5s ease-out .3s;
    animation-fill-mode: backwards;
  }
}
a{
  font-size: 2rem;
}


/* .btn::after{
  content:"";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  transition: all .4s
}
.btn-yellow::after{
  background-color: rgb(224, 183, 0);
}
/* transform: scale(2); 變兩倍*/
/*.btn:hover::after{
  transform: scale(1.5);
  opacity: 0;
}
*/
@keyframes moveInbtn{
  0%{
    opacity:0;
    transform:translateY(50px);
  }
  100%{
    opacity:1;
    transform:translate(0);
  }
}